<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee Management System</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	 integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h1>Bus Ticket Booking </h1>
		<hr>
		<h2>Save Employee</h2>

		<form action="#" th:action="@{/saveTicket}" th:object="${soldTicket}"
			method="POST">
			<input type="text" th:field="*{busName}"
				placeholder="Bus " class="form-control mb-4 col-4" required>
				
				<input type="text" th:field="*{departure}"
				placeholder="From : " class="form-control mb-4 col-4" required>
				
				<input type="text" th:field="*{arrival}"
				placeholder="To :" class="form-control mb-4 col-4" required>

				<input type="date" th:field="*{departureDate}"
				placeholder="To :" class="form-control mb-4 col-4" required>
				
			  
				
				<button type="submit" class="btn btn-info col-2">Search Ticket</button>
		</form>
		
		<hr>
		
		<a th:href = "@{/}"> Back to Employee List</a>
	</div>
</body>
</html>