<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Search Trip</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
		integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	 	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
	</script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
	
	<style type="text/css">
.card-img-top {
  width: 50%;
  margin: 0 auto;
  display: block;
}

	</style>
</head>
<body>
	<!-- Create HTML registration form -->
	<div class="background min-vw-100 min-vh-100 d-flex flex-column justify-content-center align-items-center">
		<div class="form-container">

				<h3>Choose Your Seat</h3>

		
				<div class="card mx-auto" style="width: 55rem;">
                    <div class="card-header text-center">
                      <img src="path/to/bus-logo.svg" class="card-img-top" alt="Bus logo">
                      <h5 class="card-title mt-2">Bus Ticket</h5>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-4">
                          <p class="card-text">Route: <strong>New York to Boston</strong></p>
                          <p class="card-text">Date: <strong>January 1, 2022</strong></p>
                          <p class="card-text">Time: <strong>9:00 AM</strong></p>
                        </div>
                        <div class="col-4">
                          <p class="card-text">Ticket Number: <strong>12345</strong></p>
                          <p class="card-text">Seat Number: <strong>A1</strong></p>
                          <p class="card-text">Price: $<strong>25</strong></p>
                        </div>
                        <div class="col-4">
                          <p class="card-text">Ticket Number: <strong>12345</strong></p>
                          <p class="card-text">Seat Number: <strong>A1</strong></p>
                          <p class="card-text">Price: $<strong>25</strong></p>
                        </div>
                      </div>
                    </div>
                   
                  </div>
                  
			</div>
		</div>
	</div>
</body>
</html>